:root {
    --purple: #b06fe6;
    --purple-dark: #592c7d;
    --yellow: #e1e66f;
    --yellow-dark: #909443;
    --green: #6fe675;

    --surface2: #353134;
    --surface1: #2c2a2c;
    --surface0: #1e1e1e;
    --base: #0c080d;
}